/*
.page {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: #2A2C2F;*/
  /*
  margin-right: 0;
  margin: 0;
}
*/

.page {
  max-width: 1184px;  
  margin: 0 auto;
  background-color: #2A2C2F;
}

