.city__artist-name {
  width: 100%;
  max-width: 456px;
  font-size: 1.404vw;
  line-height: 1.716vw;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .city__artist-name {
    max-width: 316px;
    padding-left: 0px;
    font-size: 2.34vw;
    line-height: 2.86vw;
  }
}

@media screen and (max-width: 320px) {
  .city__artist-name {
    max-width: 288px;
    font-size: 5.625vw;
    line-height: 6.875vw;
  }
}