.city__artist-name {
  width: 456px;
  height: 22px;
  padding-top: 8px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .city__artist-name {
    width: 316px;
    height: 22px;
    padding-left: 28px;
  }
}

@media screen and (max-width: 320px) {
  .city__artist-name {
    width: 288px;
    height: 44px;
    padding-left: 0;
    padding-right:16px;
  }
}