.city__artist-name {
  width: 100%;
  max-width: 456px;
  /*height: 22px;*/
  padding-top: 8px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .city__artist-name {
    width: 100%;
    max-width: 316px;
    /*height: 22px;*/
    padding-left: 0px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .city__artist-name {
    width: 100%;
    max-width: 288px;
    /*height: 44px;*/
    padding-left: 0;
    padding-right:16px;
    font-size: 18px;
    line-height: 22px;
  }
}