.photo-grid {
  width: 100%;
  max-width: 1184px;
  height: 442px;
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 118px;
 }

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 100%;
    max-width: 1104px;
    height: 1104px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 100%;
    max-width: 1812;
    height: 1812px;
    padding-left: 16px;
    padding-right: 16px;
  }
}