.city__picture {
  width: 460px;
  height: 460px;
  padding: 48px 40px 0 3px;
  margin: 0;
  grid-area: picture;
}

@media screen and (max-width: 768px) {
  .city__picture {
    width: 340px;
    height: 340px;
    padding: 0 28px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .city__picture {
    width: 320px;
    height: 320px;
    padding-top: 30px;
    margin-left: -16px;
  }
}