.city {
  overflow:hidden;
  margin: 0 148px 0 148px;
  padding-top: 80px;
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  grid-template-areas:
    "name artist"
    "picture descript"
    "button descript"
    " . descript";
}

@media screen and (max-width: 768px) {
  .city {
  margin: 0 24px 46px 24px;
  padding-top: 72px;
  column-gap: 28px;
  }
  .city:nth-child(4) .city__name {
     margin-bottom: 46px;
  }
  .city:nth-child(4) .city__artist {
     padding-top:46px;
 }
}

@media screen and (max-width: 320px) {
  .city {
    margin: 0;
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, auto);
    padding-top: 39px;
    grid-template-areas:
    "name"
    "artist"
    "picture"
    "descript"
    "descript"
    "button";
  }
  .city:nth-child(4) .city__name {
    margin-bottom: 0px;
    min-height: 70px;
 }
 .city:nth-child(4) .city__artist {
  padding-top:0px;
}
 .city:nth-child(4) {
   padding-top: 50px;
 }
}