.city {
  margin-bottom: 80px;
  padding-top: 0px;
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 40px;
  grid-template-areas:
    "name artist"
    "picture descript"
    "button descript"
    " . descript";
}

@media screen and (max-width: 768px) {
  .city {
  column-gap: 28px;
  grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 320px) {
  .city {
    grid-template-columns: 1fr;
    grid-template-rows: 30px 98px 320px 289px 300px 100px;
    /* grid-template-rows: repeat(6, auto); */
    /* grid-template-rows: 1fr 1fr 240px 1fr 1fr 1fr; */
    grid-template-areas:
    "name"
    "artist"
    "picture"
    "descript"
    "descript"
    "button";
  }
}