.visit {
  width: 100%;
  max-width: 1280px;
  min-height: 740px;
  position: relative;
  margin-top: 92px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  color: #FFF;
}

.visit::before {
  content: "";
  background-image: url("../../images/Visit-Us.png");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  opacity: .7;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width: auto;
  max-width: auto;
}

.visit:hover::before {
  opacity: .2;
  }

@media screen and (max-width: 768px) {
  .visit {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .visit {
    max-width: 320px;
    min-height: 254px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}