.visit {
  width: 100%;
  max-width: 1184px;
  height: 740px;
  position: relative;
  margin: 92px 48px 92px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  color: #FFF;
}

.visit::before {
  content: "";
  background-image: url("../../images/Visit-Us.png");
  opacity: 0.8;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width: auto;
  height: auto;
  z-index: -3;
}

.visit:hover::before {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .visit {
    width: 100%;
    max-width: 768px;
    height: 746px;
  }
  
.visit::before {
  content: "";
  background-image: url("../../images/Visit-Us.png");
  opacity: 0.8;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width: 100%;
  max-width: 768px;
  height: 746px;
  z-index: -3;
}

.visit:hover::before {
  opacity: 0.3;
}
}

@media screen and (max-width: 320px) {
  .visit {
    width: 100%;
    max-width: 320px;
    height: 254px;
  }
  
.visit::before {
  content: "";
  background-image: url("../../images/Visit-Us.png");
  opacity: 0.8;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width: 100%;
  max-width: 320px;
  height: 254px;
  z-index: -3;
}

.visit:hover::before {
  opacity: 0.3;
}
}