.city__name {
  width: 460px;
  height: 152px;
  padding-left: 3px;
  padding-right: 40px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
  color: #FFF;
  margin: 0;
  grid-area: name;
}

@media screen and (max-width: 768px) {
  .city__name {
    width: 340px;
    height: 46px;
    padding-left: 0;
    padding-right: 28px;
    font-size: 42px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    color: #FFF;
    margin: 0;
    grid-area: name;
  }
}