.header__logo {
  width: 100%;
  max-width: 270px;
  height: 70px;
  padding-top: 34px;
}

@media screen and (max-width: 768px) {
  .header__logo {
  } 
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 200px;
    height: 52px;
    padding-top: 20px;
  }
}