.header {
  /*width: 1280;*/
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin-left: 148px;
  margin-right:148px;
  /*background-color: #2A2C2F;*/
}