.city__button-text {
  width: 252px;
  height: 48px;
  font-family: Inter;
  margin-top: 48px;
  padding: 13px 20px 13px 20px;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  font-style: normal;
  color: #FFF;
  background-color: #0278FE;
}
