.intro__quote {
  height: 102px;
  width: 720px;
  font-family: 'Inter';
  font-weight: 400px;
  font-size: 24px;
  line-height: 34px;
  padding-left: 148px;
  padding-right: 412px;
  text-align: left;
}