.visit__text {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  color: #FFF;
  opacity: 1;
}