.lead__title {
  width: 793px;
  font-weight: 900;
  font-size: 96px;
  font-style: normal;
  line-height: 100px;
  text-align: center;
  margin: 91px 0px 32px 0px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__title{
    width: 720px;
    font-weight: 900;
  } 
}

  @media screen and (max-width: 608px) {
    .lead__title {
      padding-bottom: 96px;
    }
  }

@media screen and (max-width: 320px) {
  .lead__title{
    width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-top: 0px;
    margin-bottom: 32px;
    padding-top: 50.89px;
    padding: 50.89px 0px 0px 0px;
  }
}