.logo {
  width: 270px;
  height: 70px;
  padding-left: 505px;
  padding-right: 505px;
  padding-top: 34px;
  /*border: 1px solid green;*/
}

@media screen and (max-width: 768px) {
  .logo {
    padding-left: 249px;
    padding-right: 249px;
  } 
}

@media screen and (max-width: 320px) {
  .logo {
    width: 200px;
    height: 52px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
  }
}

