.footer__text {
  position: relative;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-bottom: 24px;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .footer__text {
  width: 165px;
  height: 16px;
  padding-left: 301px;
  padding-right: 302px;
  } 
}

@media screen and (max-width: 320px) {
  .footer__text {
    width: 165px;
    height: 14px;
    line-height: 14px;
    padding-left: 77px;
    padding-right: 78px;
  } 
}