.city__description2 {
  width: 484px;
  height: 203px;
  padding-top: 25px;
  padding-right: 148px;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0;
  border: 2px dotted yellow;
  grid-area: descript2;
}