.visit__image {
  width: 100%;
  max-width: 1184px;
  height: 740px;
  position: relative;
  margin: 92px 48px 92px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  color: #FFF;
  }
  
  /*
  .visit__image::before {
    content: "";
    background-image: url("../../images/Visit-Us.png");
    opacity: 0.8;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    /*width: auto;
    height: auto;*/
    /*
    width: 100%;
    max-width: 1184px;
    z-index: -3;
  }
  */
  /*
  .visit__image:hover::before {
    opacity: 0.3;
  }
  */
  
  /*
  @media screen and (max-width: 768px) {
    .visit__image {
      width: 100%;
      max-width: 768px;
      height: 746px;
      margin: 105px 0px 0px 88px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .visit__image {
      width: 100%;
      max-width: 320px;
      height: 254px;
      margin: 77px 0px 0px 64px;
    }
  }
  */






/* .visit__img::before {
  background-image: url("../../../images/Visit-Us.png");
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  opacity: .7;
}

.visit__img:hover{
  opacity: .2;
  min-height: 750px;
  }

  @media screen and (max-width: 768px) {
    .visit__img {
      max-width: 768px;
      min-height: 750px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .visit__img {
      max-width: 320px;
      min-height: 254px;
    }
  } */