.visit__button {
  width:  137px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  /*margin-top: 32px;*/
  /*padding: 13px 20px 13px 20px;*/
  color:#FFFFFF;
  background-color: #0278FE;
  text-decoration: none;
  border-radius: 4px;
  text-align:center;
  transition: all 0.2s;
}

.visit__button:hover {
  background-color:#0063D2;
  text-decoration: none;
  border-radius: 4px;
}


@media screen and (max-width:768px) {
  .city__button {
    display:block;
    margin-top: 48px;
    /*margin-left: 24px;*/
    /*margin-top: 0;*/
    padding: 13px 20px 13px 20px;
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  .city__button {
    width: 288px;
    height: 48px;
    margin-top: 30px;
    padding: 13px 40px 13px 40px;
    text-decoration: none;
  }
}
*/