.photo-grid__picture {
  width: 100%;
  max-width: 284px;
  height: 213px;
}

@media screen and (max-width: 768px) {
  .photo-grid__picture {
    width: 100%;
    max-width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__picture {
    width: 100%;
    max-width: 288px;
    height: 216px;
  }
}