.city__button {
  background-color: #0278FE;
  border-radius: 4px;
  color:#FFFFFF;
  padding: 13px 20px 13px 20px;
  text-align:center;
  display: inline-block;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  margin-top: 48px;
  width: 248px;
  transition: all 0.2s;
  grid-area: button;
}

.city__button:hover {
  background-color:#0063D2;
}

@media screen and (max-width: 768px) {
  .city__button {
    max-width: 248px;
  }
}

@media screen and (max-width: 320px) {
  .city__button {
    margin-left: 16px;
    width: 100%;
    max-width:248px;
    font-size: 16px;
  }
}