.city__button {
  width: 252px;
  height: 48px;
  font-family: Inter;
  margin-top: 48px;
  padding: 13px 20px 13px 20px;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  font-style: normal;
  color: #FFF;
  background-color: #0278FE;
  grid-area: button;
}

@media screen and (max-width:768px) {
  .city__button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 0;
    margin-bottom: 50px;
  }
}