.lead__subtitle {
  max-width: 1280px;
  width: 720px;
  height: 72px;
  /*font-family: 'Inter';*/
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  text-align: center;
  margin:0;
  /*margin: 0 auto;*/
  padding-left: 280px;
  padding-right: 280px;
 /* margin-top: 0px;
  margin-bottom: 0px;*/
  padding-top: 32px;
  color: #FFFFFF;
  border: 2px solid orange;
}

@media screen and (max-width: 768px) {
  .lead__subtitle{
    width: 720px;
    height: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
  } 
}

@media screen and (max-width: 320px) {
  .lead__subtitle{
    width: 288px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}