.city__artist {
  grid-area: artist;
  margin-top: 23px;
  margin-bottom: 48px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .city__artist {
    margin-bottom: 46px;
  }
}

@media screen and (max-width: 320px) {
  .city__artist {
    margin-bottom: 30px;
  }
}