.city__description1 {
  width: 484px;
  /*height: 174px;*/
  height: 203px;
  padding: 48px 148px 0 0;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0;
  /*order: 5px dotted blue;*/
  /*grid-area: descript1;*/
}

@media screen and (max-width: 768px) {
  .city__description1 {
    width: 352px;
    height: 208px;
    font-size: 16px;
    line-height: 26.08px;
  }
}