.visit__text-big {
  width: 100%;
  max-width: 656px;
  margin: 0;
  padding-bottom: 32px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .visit__text-big {
  }
}

@media screen and (max-width: 320px) {
  .visit__text-big {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}