.visit__text-big {
  width: 100%;
  /* max-width: 656px; */
  max-width: 51.25vw;
  /* margin-top: 243px; */
  margin: 0;
  margin-bottom: 32px;
  /* padding-bottom: 32px; */
  font-family: 'Inter', Arial, sans-serif;
  /* font-size: 72px; */
  font-size: 5.625vw;
  /* line-height: 76px; */
  line-height: 5.9375vw;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .visit__text-big {
    max-width: 85.4178vw;
    font-size: 9.3751vw;
    line-height: 9.8960vw;

  }
}

@media screen and (max-width: 320px) {
  .visit__text-big {
    max-width: 90vw;
    font-size: 10vw;
    line-height: 10.9375vw;
    /* padding-bottom: 16px; */
    margin-bottom: 16px;
  }
}