.cities {
  background-color: yellow;
  width: 100%;
  max-width: 1280px;
  margin: 0;
}

@media screen and (max-width:768px) {
  .cities {
    background-color: green;
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (max-width:320px) {
  .cities {
      width: 100%;
      max-width: 320px;
  }
}