.visit__text-small {
  width: 100%;
  max-width: 280px;
  /*height: 22px;*/
  margin: 0;
  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .visit__text-small {
    width: 100%;
    max-width: 280px;
    /*height: 22px;*/
  }
}

@media screen and (max-width: 320px) {
  .visit__text-small {
    width: 100%;
    max-width: 280px;
    /*height: 14px;*/
    font-size: 14px;
    line-height: 16px;
  }
}