.footer {
  width: 1184px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 48px 0px 48px;
  border: 4px dashed yellow;
}

/*
  width: 1184px;
  height: 740px;
  position: relative;
  margin: 92px 48px 92px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  color: #FFF;
  border: 4px dotted yellow;


*/