.header__title {
  height: 200px;
  width: 793px;
  font-family: 'Inter';
  font-weight: 900px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: auto;
  margin-left: 243px;
  margin-right: 244px;
  padding-top: 91px;
  /*padding-bottom: 32px;*/
  color: #FFFFFF;
}