.intro__article {
  width: 100%;
  max-width: 720px;
  height: 156px;
  margin: 0px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26.08px;
  padding-top: 32px;
  text-align: left;
}

@media screen and (max-width: 768px){
  .intro__article {
    width: 100%;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px){
  .intro__article {
    height: 390px;
  }
}
