.city__description {
  width: 100%;
  max-width: 484px;
  padding-top: 0px;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0;
}

:last-child {
  padding-bottom: 0px;
  padding-top: 0px;
}

@media screen and (max-width: 768px) {
  .city__description {
    max-width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 320px) {
  .city__description {
    max-width: 288px;
    padding: 30px 16px 25px 0px;
  }
}
