.intro__title {
height: 116px;
width: 785px;
margin: 0 auto;
margin-left: 148px;
margin-right: 347px;
padding-top: 92px;
padding-bottom: 40px;
font-family: 'Inter';
font-weight: 900px;
font-size: 54px;
line-height: 58px;
text-align: left;
border: 2px dashed yellow;
}
